name: doc

on: [push]

jobs:
  run-pydoc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: '3.7'
          architecture: 'x64'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pydocstyle
      - name: Check for docstrings
        run: |
          pydocstyle . --count --ignore=D107,D202,D212
